.sign-in-container {
    width: 100%;
    background-color: rgba(243, 243, 243, 1);
    .sign-in-header {
        display: grid;
        grid-template-columns: 1fr 12fr 1fr 1fr;
        background-color: rgba(34, 49, 170, 1);
        padding: 0.741vw;
        .sign-in-header__burger {
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid rgba(83, 96, 205, 1);
        }
        .sign-in-header__burger:hover {
            cursor: pointer;
        }
        .sign-in-header__search {
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid rgba(83, 96, 205, 1);
            border-right: 1px solid rgba(83, 96, 205, 1);
        }
        .sign-in-header__search:hover {
            cursor: pointer;
        }
        .sign-in-header__user {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sign-in-header__user:hover {
            cursor: pointer;
        }
    }
    .sign-in-content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 83.024vw;
        .sign-in-content__back-btn {
            color: rgba(49, 48, 55, 1);
            font-size: 1.186vw;
            font-weight: 400;
            margin-top: 1.483vw;
        }
        .sign-in-content__back-btn:hover {
            cursor: pointer;
            color: rgba(34, 49, 170, 1);
            font-weight: 700;
        }
        .sign-in-content__title {
            color: rgba(49, 48, 55, 1);
            font-size: 4.151vw;
            font-weight: 700;
        }
        .sign-in-content-form {
            margin: 0 auto;
            width: 46.256vw;
            border: 1px solid rgba(218, 218, 218, 1);
            border-radius: 1px;
            padding: 2.965vw;
            .sign-in-content-form__title {
                color: rgba(49, 48, 55, 1);
                font-size: 1.186vw;
                font-weight: 600;
            }
            .sign-in-content-form__input {
                font-size: 1.186vw;
                font-weight: 400;
                width: 40.32vw;
                padding: 0.741vw;
                border: none;
                border-radius: 2px;
            }
            .sign-in-content-form__forgot {
                color: rgba(49, 48, 55, 1);
                font-size: 1.186vw;
                font-weight: 400;
                margin: 20px 0 20px;
            }
            .sign-in-content-form__forgot:hover {
                cursor: pointer;
                color: rgba(34, 49, 170, 1);
                font-weight: 700;
            }
            .sign-in-content-form__submit-btn {
                width: 100%;
                background-color: rgba(34, 49, 170, 1);
                color: white;
                font-size: 1.334vw; 
                font-weight: 600; 
                padding: 1.186vw;
            }
            .sign-in-content-form__submit-btn:hover {
                cursor: pointer;
            }
            .sign-in-content-form-footer {
                text-align: center;
                .sign-in-content-form-footer__text {
                    color: rgba(49, 48, 55, 1);
                    font-size: 1.186vw;
                    font-weight: 500;
                    .alttext {
                        color: rgba(34, 49, 170, 1);
                    }
                    .alttext:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}